

body{
    background: linear-gradient(135deg, hsl(204, 63%, 18%), hsl(206, 29%, 48%), hsl(204, 34%, 65%), hsl(206, 29%, 48%));
    /* height: 100vh; */
}

.experience__container{
    display: grid;
    justify-content: center;
    margin-bottom: 7rem;
}

.experience__img{
    box-shadow: 0 0 20px hsl(204, 63%, 18%);
    border-radius: 10px;
}

.slider{
    border-radius: 10px;
    overflow: hidden;
}

.change{
    cursor: pointer;
}

.swiper-size{
    width: 50%;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    padding-bottom: 10%;
}

.swiper-slide img{
    height: auto;
    width: auto;
}

.swiper-pagination{
    bottom: 15% !important;
}

@media screen and (max-width: 767px){
    .swiper-size{
        width: 80%;
    }
}